<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nuevo Cliente</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
	</head>
<body>
		<header th:replace="/layouts/header :: header"> </header>
		<!-- Container -->
		<div class="container">
			<div class="row col-sm-10 col-md">
				<div class="col-sm-10 col-md">
					<!-- Formulario -->				
					<h1>Cargar datos del cliente</h1>
					<hr>
					<form action="/cliente/guardar" th:object="${cliente}" method="post">
						<!-- Id del cliente oculto -->
						<input type = "hidden" th:field="*{id}"/>
						
						<!-- Id de la cuenta del cliente oculto -->
						<input type = "hidden" th:field="*{cuenta.id}"/>
						
						<!-- Tipo de Documento -->
						<label>Tipo de Documento</label>
						<select th:field="*{tipoDocumento}" class="form-control">
							<option value="" selected>Seleccione</option> 
							<option value="DNI">DNI</option> 
							<option value="PASAPORTE">PASAPORTE</option> 
						</select>					
						<!-- Fin Tipo de Documento -->
	
						<!-- Numero de dni -->
						<div class="form-group">
							    <label for="dni">Número de DNI</label>
							    <input type="number" class="form-control" id="dni" th:field="*{nroDocumento}" placeholder="Ingrese su DNI">
						</div>
						<!-- Fin numero de dni -->
						
						<!-- Nombre y apellido -->
						<div class="form-group">
							    <label for="nya">Nombre y Apellido</label>
							    <input type="text" class="form-control" id="nya" th:field="*{nombreApellido}" placeholder="Ingrese su Nombre y Apellido">
						</div>
						<!-- Fin nombre y apellido -->
						
						<!-- Email -->
						<div class="form-group">
							    <label for="email">Email</label>
							    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Ingrese su email">
						</div>	
						<!-- Fin Email -->
						
						<!-- Contraseña -->
						<div class="form-group">
							    <label for="password">Password</label>
							    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Ingrese su password">
						</div>	
						<!-- Fin contraseña -->
						
						<!-- Fec nacimiento -->
						<div class="form-group">
							    <label for="fechanac">Fecha de Nacimiento</label>
							    <input type="date" class="form-control" id="fechanac" th:field="*{fechaNacimiento}" placeholder="Ingrese su fecha de nacimiento">
						</div>	
						<!-- Fin fec de nacimiento -->
						
						<!-- Codigo de area -->
						<div class="form-group">
							    <label for="codarea">Código de Area</label>
							    <input type="number" class="form-control" id="codarea" th:field="*{codigoAreaTelefono}" >
						</div>
	
						<!-- Fin codigo de area -->
						
						<!-- Nro de telefono -->
						<div class="form-group">
							    <label for="telefono">Número de Telefono</label>
							    <input type="number" class="form-control" id="telefono" th:field="*{nroTelefono}" placeholder="Ingrese su numero de telefono">
						</div>
						<!-- Fin nro de telefono -->
						
						<!-- ultima compra -->
						<div class="form-group">
							    <label for="fechaultcomp">Fecha de Ultima Compra</label>
							    <input type="date" class="form-control" id="fechaultcomp" th:field="*{fechaUltimaCompra}">
						</div>
					
						<!-- fin ultima compra -->
						
						<!-- DATOS DE LA CUENTA -->
							<!-- Saldo de la cuenta -->
							<h3>DATOS DE LA CUENTA</h3>
							<hr>
							<br>
							<div class="form-group">
								    <label for="cantSaldo">Saldo</label>
								    <input type="number" class="form-control" id="cantSaldo" th:field="*{cuenta.saldo}" placeholder="Ingrese saldo de la cuenta">
							</div>
							<!-- Fin Saldo de la cuenta  -->
							
							<!-- Fecha de creación -->
							<div class="form-group">
								    <label for="fecCreacion">Fecha de Creación</label>
								    <input type= "date" class="form-control" id="fecCreacion" th:field="*{cuenta.fechaCreacion}" placeholder="Ingrese fecha de creacion">
							</div>
							<!-- Fin fecha de creación  -->
							
							<!-- Seleccionar estado de la cuenta -->
								<label>Estado</label>
								<select th:field="*{cuenta.estado}" class="form-control">
									<option value="" selected>Seleccione</option> 
									<option value="activa">ACTIVA</option> 
									<option value="inactiva">INACTIVA</option> 
								</select>
								
							<!-- Fin Seleccionar -->
						<!-- FIN DATOS DE LA CUENTA -->
						<br><br>
						<button type="submit" class="btn btn-primary">Enviar</button>
					</form>
					
				</div>
			<aside th:replace="/layouts/publicidad :: aside"> </aside>
		</div>
	</div>
	<!-- Fin Container -->
	<footer th:replace="/layouts/footer :: footer"> </footer>
<script type="text/javascript" th:src=@{/webjars/jquery/3.5.1/jquery.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/popper.js/1.16.1-lts/popper.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}></script>
</body>
</html>